ul{
    display: flex;
}
li{
    list-style: none;
    margin-left: 190px;
}
h1{
    margin-left: 550px;
    justify-content: center;
}
.ph1{
    justify-content: center;
    margin-left: 250px;
}
.reg{
    margin-left: 990px;
}
.his1{
    margin-right: 100px;
}
con1{
    margin-left: 600px;
}